.cards {
  max-width: 924px;
  padding: 0 19px;
  box-sizing: border-box;
  margin: 51px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 914px) {
  .cards {
    max-width: 917px;
  }
}

@media (max-width: 692px) {
  .cards {
		margin: 35px auto 0;
    max-width: 400px;
  }
}