.btn-close {
  width: 56.56px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  outline: none;
  transition: all .3s ease-in-out;
}

.btn-close:hover {
  opacity: .6;
}

@media (max-width: 692px) {
  .btn-close {
    width: 32.76px;
    height: 32.76px;
    top: -43px;
    right: 0;
  }
}
