.popup__container {
  padding: 34px 36px 37px;
  width: 430px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 692px) {
  #profileEditForm {
    width: 282px;
    padding: 25px 22px;
  }
	
  #profileAddForm {
    width: 240px;
    padding: 30px 20px;
  }
} 
