.btn-add {
  box-sizing: border-box;
  padding: 0;
  border: 2px solid #FFFFFF;
  width: 150px;
  height: 50px;
  background-color: #000000;
  outline: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-add:hover {
  opacity: .6;
}

@media (max-width: 692px) {
  .btn-add {
    width: 282px;
  }
}

