.profile__name {
  display: block;
  max-width: 350px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 692px) {
  .profile__name {
    max-width: 224px;
    margin-left: 31px;
    font-size: 27px;
    line-height: 33px;
  }
}
